<app-loader *ngIf="showLoader"></app-loader>
<app-alert></app-alert>
<!-- <app-chatpopup drag></app-chatpopup> -->
<app-navbar></app-navbar>

<div class="page">
  <div style="width:100vw; overflow:hidden">
    <div class="searchbar">
      <div class="row">
        <div class="col-lg-3 col-sm-12" style="text-align: center; align-self: center;">
          <div class="searchbox">
            <img *ngIf="searchText" src="assets/icons/x.svg" (click)="searchText = ''" style="position: absolute;">
            <input type="text" placeholder="Search for sites" [(ngModel)]="searchText" #searchinput>
            <img src="assets/icons/search.svg">
          </div>
        </div>

        <div class="col-lg-7 col-sm-12" Style="border: none; align-self: center; opacity:1">
          <div class="title1 topTitle" style="margin:0 0 0 25px;">
            <!-- <span>Support Helpdesk</span> -->
            <span class="text-white fw-bold" style="font-family: TP, sans-serif; letter-spacing: 3px;">{{
              displaySite?.siteName }} - Alerts</span>
            <!-- <div class=" action-icons">
              <div>&nbsp;</div>
            </div> -->
            <!-- <img src="assets/icons/chaticon.png" class="qr" (click)="toQRmodal()" id="qrcode">
            <div class="tooltiptext">Do you need Safety Escort?</div> -->
          </div>
        </div>

        <!-- pagination -->
        <div class="col-lg-2 d-flex mx-3" *ngIf="newEventData.length !== 0">
          <img src="assets/icons/arrow.svg" style="transform: rotate(180deg);" width="16px" [className]="currentPage == 1 || currentPage === 0 ? 'fade': 'pointer'" (click)="filter('prev')" alt="prev">
          <div class="searchbox" style=" margin: 10px !important; padding: 4px !important; height: 30px;">
            <select name="my-dropdown" class="dropdown" [(ngModel)]="currentPage" (ngModelChange)="filter($event)">
              <option *ngFor="let number of selectNumbers" [value]="number">
                <div style="padding: 15px; margin:10px; margin-right:15px"><span class="page-link">{{ number }} of {{ totalPages }}</span></div>
              </option>
            </select>
          </div>
          <img src="assets/icons/arrow.svg" width="16px" [className]="currentPage === totalPages ? 'fade': 'pointer'" (click)="filter('next')" alt="next">
        </div>
      </div>
    </div>
  </div>

  <div class="cont">
    <div class="row">
      <div class="col-lg-3 col-sm-12 btnvisible" id="topple" #topple>
        <div class="optionlabelparent" *ngFor="let site of siteData | SearchPipe: searchText; let i = index"
          (click)="footageList(site, i)">
          <div [ngClass]="navActive == i ? 'optionlabel-active' : 'optionlabel'" style="position:relative;">
            <!-- <img src="assets/icons/eye.svg" style="width: 20px;" alt="ivisUSA" *ngIf="navActive != i">

            <img src="assets/icons/eye-white.svg" style="width: 15px; margin-right: 10px;" alt="ivisUSA"
              *ngIf="navActive == i"> -->
              <img [src]="storageSer.accordianLogo" style="width: 16px;" class="me-1" alt="">
            <div class="label">{{ site?.siteName }} </div>
            <div class="accordionArrow"><img src="assets/icons/forward_arrow.svg" width="20" alt="drop"></div>
          </div>
        </div>
        <br>
      </div>

      <div class="col-lg-9 col-sm-12">
        <ng-container >
          <!-- <span class="text-white fw-bold" style="font-family: TP, sans-serif; letter-spacing: 3px;">{{ currentSite?.siteName }}</span>
            <hr class="mb-0" id="hr1"> -->

          <div class="title">
            <img src="assets/icons/btnvisible.svg" alt="V" class="visibilitybtn" (click)="showOptions1()">
            <div class="row mx-0 mt-1 w-100">
              <!-- <div class="col-md-2 ps-0" *ngIf="currentSite">
                <span class="filter-label ">Site</span>
                <select class="form-select mb-3" [(ngModel)]="currentSite.siteId" #sitee
                  (change)="filter(); getDisplySite(sitee.value)">
                  <option value="">All</option>
                  <option *ngFor="let item of siteData; let s = index" [value]="item?.siteId">{{item?.siteName}}
                  </option>
                </select>
              </div> -->
              <div class="col-md-3 ps-0">
                <span class="filter-label ">Camera</span>
                <select class="form-select mb-3" [(ngModel)]="cameraId" (change)="filter()">
                  <option value="">All</option>
                  <option *ngFor="let item of camData" [value]="item?.cameraId">{{item?.name}}</option>
                </select>
              </div>
              <div class="col-md-2 ps-0">
                <span class="filter-label ">Action Tag</span>
                <select class="form-select mb-3" [(ngModel)]="actionTag" (change)="filter()">
                  <option value="">All</option>
                  <option *ngFor="let item of actionTags" [value]="item?.value">{{ item?.value | titlecase }}</option>
                </select>
              </div>

              <div class="col-md-2 ps-0">
                <span class="filter-label">Start Date</span>
                <div class="input-group">
                  <input class="form-control" placeholder="MM-DD-YYYY" [(ngModel)]="fromDate" ngbDatepicker
                    #d1="ngbDatepicker" (ngModelChange)="filter()" [maxDate]="todayDate">
                  <button class="btn btn-outline-light py-0" (click)="d1.toggle()" type="button"><img
                      src="assets/icons/calender.svg" alt="" width="12"></button>
                </div>
              </div>
              <div class="col-md-2 ps-0">
                <span class="filter-label">End Date</span>
                <div class="input-group">
                  <input class="form-control" placeholder="MM-DD-YYYY" [(ngModel)]="toDate" ngbDatepicker
                    #d2="ngbDatepicker" (ngModelChange)="filter()" [minDate]="fromDate">
                  <button class="btn btn-outline-light py-0" (click)="d2.toggle()" type="button"><img
                      src="assets/icons/calender.svg" alt="" width="12"></button>
                </div>
              </div>

              <div class="col-lg-1 ps-0">
                <button class="btn btn-sm btn-outline-danger mt-4 me-1" (click)="fromDate = ''; toDate = ''; filter()"  *ngIf="fromDate != '' || toDate != ''">Clear</button>
                <!-- <button class="btn btn-sm btn-outline-success mt-4" (click)="download()"  *ngIf="fromDate != '' && toDate != ''">Download</button> -->
              </div>
            </div>

            <div class="me-3">
              <!-- <button class="py-2 px-3 create-brn" (click)="open()">Create Incident</button> -->
            </div>
          </div>

          <div class="table-resp extra w-100">
            <table class="table table-hover" id="mytable">
              <thead style="position: sticky; top: 0; z-index: 1;">
                <tr class="form1">
                  <!-- <th scope="col">
                    <span>Site Name</span>
                    <img (click)="sort('siteName')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                  </th> -->
                  <th scope="col">
                    <span>Camera</span>
                    <img (click)="sort('name')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                  </th>
                  <!-- <th scope="col">
                    <span>Event ID</span>
                    <img (click)="sort('eventId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                  </th> -->
                  <th scope="col">
                    <span>Start Time</span>
                    <img (click)="sort('eventFromTime')" class="pointer ms-1" src="assets/icons/sorticon.svg"
                      width="15px">
                  </th>
                  <th scope="col">
                    <span>End Time</span>
                    <img (click)="sort('eventToTime')" class="pointer ms-1" src="assets/icons/sorticon.svg"
                      width="15px">
                  </th>
                  <th scope="col">
                    <span>Duration</span>
                    <!-- <img (click)="sort('eventTime')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px"> -->
                  </th>
                  <th scope="col">
                    <span>Object Identified</span>
                    <img (click)="sort('objectName')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                  </th>
                  <th scope="col">
                    <span>Action Tag</span>
                    <img (click)="sort('actionTag')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                  </th>
                  <th scope="col" class="text-center">
                    <span>Event Clip</span>
                  </th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of newEventData; let i=index"
                  [style.background-color]="tableIndex == i ? '#ababab': ''">
                  <!-- <td>{{item?.siteName}}</td> -->
                  <td>{{item?.name}}</td>
                  <!-- <td>{{item?.eventId}}</td> -->
                  <td>{{item?.eventFromTime | date: 'short'}}</td>
                  <td>{{item?.eventToTime | date: 'short'}}</td>
                  <td>{{ getTimeDifference(item?.eventFromTime, item?.eventToTime) }}</td>
                  <td>{{item?.objectName | titlecase}}</td>
                  <td>
                    <ng-container *ngFor="let status of actionTags">
                      <select class="form-control custom-form-control fw-bold" [(ngModel)]="item.actionTag"
                        [style.color]="status.code" [hidden]="item.actionTag !== status.value">
                        <option [value]="status.value">{{status.value}}</option>
                      </select>
                    </ng-container>
                  </td>
                  <td class="text-center">
                    <p class="text-primary pointer" (click)="openPlayModel(item, i)">View</p>
                    <ng-template #infoDialog>
                      <div class="p-5">
                        userName: {{userData?.UserName}}
                      </div>
                    </ng-template>
                  </td>
                  <td>
                    <p class="new-item" *ngIf="item?.createdTime > currentTime">NEW</p>
                  </td>
                </tr>
              </tbody>

              <!-- err-info -->
              <ng-container *ngIf="newEventData.length === 0">
                <app-err-info></app-err-info>
              </ng-container>
            </table>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</div>

<!-- <div id="modal">
  <div class="close" (click)="closemodal()"></div>
  <div id="modalcontent"></div>
</div> -->

<div class="new-dialog" id="playModel">
  <div class="dialog-header">
    <p>{{currentVideoData?.siteName}} - {{currentVideoData?.name | uppercase}}</p>

    <div class="d-flex align-items-center">
      <!-- <p><img src="assets/icons/file_download_white.svg" class="pointer" (click)="generatePdf()" title="Download"
          alt=""></p> -->
      <p><img src="assets/icons/close.svg" width="20" class="pointer ms-2" #close (click)="closeModel('playModel')"
          title="close" alt=""></p>
    </div>
  </div>

  <div class="dialog-content" style="position: relative; width: 55vw; height: 55vh;" #reportDialog *ngIf="currentVideoData">
    <div id="canvas">
      <!-- <div class="header d-flex">
        <div><img src="assets/icons/IVISsecurity_logo.png" width="150" alt="ivisSecurity"></div>
      </div> -->

      <div class="d-flex justify-content-between align-items-center my-1">
        <div class="dialog-title">{{ currentVideoData?.eventFromTime | date: 'mediumDate' }}</div>
        <div class="dialog-title">{{currentVideoData?.actionTag | uppercase}}</div>
        <div class="dialog-title">{{currentVideoData?.eventFromTime | date: 'shortTime'}} to
          {{currentVideoData?.eventToTime | date: 'shortTime'}}</div>
      </div>

      <div>
        <div style="height: 35vh;">
          <!-- image -->
          <img *ngIf="!isVideo(currentTileItem)"
            [src]="environment + currentTileItem | image | async" width="100%" height="100%" alt="NO DATA">

          <!-- video -->
          <video *ngIf="isVideo(currentTileItem)"
            [src]="environment + currentTileItem | image | async" class="bg-dark" controls autoplay width="100%" height="100%"></video>
        </div>

        <div class="tiles-parent">
          <div class="nav-btns">
            <button (click)="prev()" [disabled]="currentTilePage == 1"><img src="assets/icons/arrow_back.svg" width="20"
                alt=""></button>
          </div>

          <div class="scroll-tiles" *ngFor="let data of currentTiles; let i = index"
            [ngStyle]="{'border': currentTileItem == data ? '3px solid red' : 'none'}" (click)="getCurrentTile(data)">
            <!-- image -->
            <img *ngIf="!isVideo(currentTileItem)" [src]="environment + data | image | async" width="100%"
              height="100%" alt="NO DATA">

            <!-- video -->
            <video *ngIf="isVideo(currentTileItem)" [src]="environment + data | image | async" class="bg-dark"
              width="100%" height="100%"></video>
          </div>

          <div class="nav-btns">
            <button (click)="next()" [disabled]="currentTilePage == getTilePages"><img src="assets/icons/arrow_back.svg"
                width="20" style="rotate: 180deg;" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="new-dialog" id="fullScreen">
  <div class="dialog-header d-flex justify-content-between p-1">
    <p>FULLSCREEN</p>
    <p><img src="assets/icons/close.svg" class="pointer" width="20" alt="" (click)="closeModel('fullScreen')"></p>
  </div>

  <div class="dialog-content">
    <div class="m-1" *ngIf="
        currentFullImage?.split('.')[currentFullImage?.split('.').length - 1] === 'mp4' ||
        currentFullImage?.split('.')[currentFullImage?.split('.').length - 1] === '3gp'
        ">
      <video
        [src]="'http://usstaging.ivisecurity.com:8080/common/downloadFile_1_0?requestName=incidents' + '&assetName=' + currentFullImage"
        class="bg-dark" controls height="250px" width="250px"></video>
    </div>

    <div class="m-1" style="position: relative;" *ngIf="
        currentFullImage?.split('.')[currentFullImage?.split('.').length - 1] === 'JPG' ||
        currentFullImage?.split('.')[currentFullImage?.split('.').length - 1] === 'png' ||
        currentFullImage?.split('.')[currentFullImage?.split('.').length - 1] === 'jpg' ||
        currentFullImage?.split('.')[currentFullImage?.split('.').length - 1] === 'jpeg'
        ">
      <img
        [src]="'http://usstaging.ivisecurity.com:8080/common/downloadFile_1_0?requestName=incidents' + '&assetName=' + currentFullImage"
        alt="" width="800px" height="500px">
    </div>
  </div>
</div> -->