<app-loader *ngIf="showLoader"></app-loader>
<app-navbar></app-navbar>

<div class="live">
  <div class="sub-header">
    <div class="col-lg-2 p-2">
      <select class="form-select form-select-md" [(ngModel)]="siteName" (change)="clearFile(); getDevices(siteName)">
        <option selected disabled value="0">Select</option>
        <option value="fileUrl">
          <img src="assets/icons/link-black.svg" alt="" width="20px">
          <span>Insert Camera URL</span>
        </option>
        <option value="fileUpload">
          <button>Upload Video</button>
        </option>

        <option *ngFor="let site of siteData" [value]="site.siteid">{{site.sitename}}</option>
      </select>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-lg-2 left-content mt-2">
      <div class="row m-0">
        <!-- inser url -->
        <div class="col-lg-12" *ngIf="siteName == 'fileUrl'">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="URL" [(ngModel)]="filesObj.rtspUrl">
          </div>
        </div>
        <!-- upload file -->
        <div class="col-lg-12" *ngIf="siteName == 'fileUpload'">
          <p class="text-white fw-bold m-0">File Upload</p>
          <div class="upload-dialog">
            <div class="dialog-content text-center">
              <label class="col file-upload-btn d-flex justify-content-center pointer">
                <input type="file" (change)="onFileSelected($event)">
                  <img class="mb-2" src="assets/icons/link-black.svg" alt="" width="30px">
                </label>
                <p>Browse your file</p>
            </div>
          </div>
          <span class="text-white my-2">{{ filesObj.file?.name }}</span>
        </div>

        <div class="col-lg-12 my-3" *ngIf="siteName != 'fileUpload' && siteName != 'fileUrl'">
          <span class="select-label">Camera</span>
          <select class="form-select form-select-md">
            <option selected>Select</option>
            <option *ngFor="let device of deviceData" [value]="device?.deviceId">{{device?.deviceId}}</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-center px-2 mt-3 mb-5">
        <button type="button" class="btn bg-white text-danger w-100" (click)="getDetailsForVideoOrUrl()">Get Details</button>
      </div>

      <div class="row m-0">
        <div class="col-lg-12">
          <div class="mb-3">
            <!-- <label class="form-label">Input</label> -->
            <input type="text" class="form-control" placeholder="Width">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="mb-3">
            <!-- <label class="form-label">Input</label> -->
            <input type="text" class="form-control" placeholder="Height">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="mb-3">
            <!-- <label class="form-label">Input</label> -->
            <input type="text" class="form-control" placeholder="Fps">
          </div>
        </div>

        <div class="col-lg-12">
          <span class="select-label">Threshold</span>
          <select class="form-select form-select-md mb-3">
            <option selected>Select</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-lg-12">
          <span class="select-label">Min Hits</span>
          <select class="form-select form-select-md mb-3">
            <option selected>Select</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-lg-12">
          <span class="select-label">Object Type</span>
          <select class="form-select form-select-md mb-3">
            <option selected>Select</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-center px-2 mt-4">
        <button type="button" class="btn btn-danger w-100">Run</button>
      </div>
    </div>

    <!-- right-content -->
    <div class="col-lg-10 right-content mt-3">
      <div class="status d-fle justify-content-end row m-0">
        <div class="status-item col-lg-2 m-2">
          <p>Persons <img style="float: right;" src="assets/icons/boy-white.svg" alt="" width="30px"></p>
          <p>4</p>
        </div>
        <div class="status-item col-lg-2 m-2">
          <p>Vehicles <img style="float: right;" src="assets/icons/car-white.svg" alt="" width="25px"></p>
          <p>4</p>
        </div>
      </div>

      <div class="row m-0">
        <div class="col tile">
          <iframe [src]="sanitizeUrl('')" frameborder="0" width="100%" height="400px"></iframe>
        </div>
        <div class="col tile">
          <iframe [src]="sanitizeUrl('')" frameborder="0" width="100%" height="400px"></iframe>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="modal max-center" id="viewmodal">
  <div class="formcont max-center">
    <div class="modalform">
      <div class="formtitle">
        <span>Draw Polygon</span>
        <img src="assets/icons/close.svg" alt="edit" #close (click)="closeviewModal()">
      </div>
      <div class="py-2">
        <div>
          <img class="img-loader" *ngIf="!responseImage" src="assets/gif/loading-gif.gif" alt="">
          <!-- <img *ngIf="responseImage" style="display: none;" #imageElement  [src]="'http://3.80.46.52:80/SalesLiveEvents/getImageToDrawPolygon_1_0/' + responseImage" (load)="onImageLoad()"> -->
          <video *ngIf="responseImage" style="display: none;" #imageElement  [src]="'http://3.80.46.52:80/SalesLiveEvents/getImageToDrawPolygon_1_0/' + responseImage" (load)="onImageLoad()"></video>
          <canvas class="canvas" style="cursor: crosshair;" #canvasElement (click)="onCanvasClick($event)"></canvas>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button class="close-btn m-1" (click)="closeviewModal()">Close</button>
        <button class="submit-btn m-1"  (click)="saveCoordinates()">Submit</button>
      </div>
    </div>
  </div>
</div>
