/* for page */
button{
  /* width: 100%; */
  border-radius: 30px;
  background:#104B86;
  color: #fff;
  font-size: 12px;
  width: -webkit-fill-available;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.96);
  -moz-box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.96);
  box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.96);
}
p{margin: 0;}


.download{
  position: absolute;
  right: 30px;
  font-weight: bold;  
}
.download img{
  height: 25px;
}
/* accordion css ends */



.placeholderForReports{
  letter-spacing: 5px;
  margin: 25px;
  font-size: 20px;
  color: #fff;
  font-family: PS,sans-serif;
  text-transform: uppercase;
  max-width: 100%;
  max-height: 100%;
  margin-top: 15vh;
  justify-content: center;
  text-align: -webkit-center;
}
.placeholderForReports p{
  width: 60%;
}

/* calender */
.calender{
  position:absolute; 
  z-index:3;
  background: #104b86; 
  color:black; 
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 5px; 
  direction: ltr;    
  width: 100%; 
  top: 35px; 
  left:0;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.96); 
    -moz-box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.96);
    box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.96);
}
.calender .grid-cont{display: grid; grid-template-columns: repeat(3, 1fr);font-size:11px;}
@media screen and (max-width: 1024px) {.calender .grid-cont{display: grid; grid-template-columns: repeat(3, 1fr);font-size:7px !important;}}
@media screen and (max-width: 768px) {.calender .grid-cont{display: grid; grid-template-columns: repeat(3, 1fr);font-size:11px !important;}}
.calender .grid-cont .gridElements{border:1px solid #dddddd;border-radius:4px;color:#4a4a4a;background:#fff;padding:10px 0;cursor: pointer;}
.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  cursor: pointer;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.fadeout{background-color: #87A5C2 !important;}
.fade{opacity:0.6}
::selection{
  background-color: transparent;
}




/* ppt css */


.pagecont{
  height: 700px;
  /* border: 2px solid #c7c7c7; */
  /* border-radius: 8px; */
  /* overflow: hidden; */
  background: #e7e7e7;
  margin: 15px;  
  font-family: TP,sans-serif;
  text-transform: none;
  cursor:default;
  position: relative;
  border-top: 15px solid red;
  border-image : linear-gradient(280deg, rgba(199,55,26, 0.9) 38%,  rgba(12,86,164, 0.9) 86%) 1 stretch;
}
.auth {
  margin-top: -300px;
  /* margin-right: 50px;
  float: right;  */
  text-align: center;
  color: #fff;
  font-size: 20px;
  /* font-family: SG,sans-serif; */
  text-transform: uppercase;
}
.pagetitle{
  /* padding-top: 80px; */
  /* background-color: #f54; */
  /* background: linear-gradient(125deg, rgba(210, 65, 37, 0.9) 18%, rgba(10, 73, 129, 0.9) 66%); */
  /* background: linear-gradient(90deg, rgba(163,49,27, 0.9) 18%, rgba(14,57,102, 0.9) 66%);  */
  background: linear-gradient(325deg, rgba(0, 7, 39, 0.9) 18%, rgba(29, 0, 0, 0.9) 66%), url("../../assets/icons/background.jpg") no-repeat !important;
  background-size:cover !important;
  color: #fff;
  height: -webkit-fill-available;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagetitle, .subpagetitle{
  /* font-family: SG,sans-serif; */
  background: linear-gradient(90deg, rgba(27, 113, 163, 0.9) 18%, rgba(14,57,102, 0.9) 66%); 
  color: #fff;
  font-size: 40px !important;
  font-weight: 80;
  text-transform: none;
  letter-spacing: 10px;
}
.subpagetitle, .level2, .normalheader{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  
}
.subpagetitle{
 color: #fff;
  height: 100%;
}
.normalheader{
  font-size: 15px;
  padding-top: 35px;
  justify-content: left;
  margin-left: 30px;
  text-transform: uppercase;
  font-family: SG, sans-serif;
}
.contentsofpage{
  display: grid;
  grid-template-columns: (4, 1fr);
}
.level2{
  width: 50%;
  margin: 0;
  font-size: 30px;
  font-weight: 100;
  color: #1d1d1d;
}
.level2content{
  /* background: linear-gradient(90deg, rgba(210, 65, 37, 0.9) 18%, rgba(10, 73, 129, 0.9) 66%); */
  width: 50%;
  padding: 50px;
  color: #7c7c7c;
  align-items: center;
  display: flex;

}
.othercontent{
  padding: 5px 30px;
  height: 86%;
  overflow: scroll;
  display: grid;
  align-items: center;
}
.descrip{
font-size: 18px;
font-weight: 100;
} 
li, ul{
  margin: 0;
}
ul {
  font-size: 17px;
  color: black;
  margin-top: 10px;
}
.medias{
  display: grid;
  text-align: center;
  /* align-content: center; */
  margin-top: 15px;
  align-self: center;
}
.mediaelems{
  margin: 5px;
}
.mediaelems img{
  object-fit: cover;
  width: 100%;
}
.contentelems{
  margin-bottom: 10px;
  padding: 10px;
  font-size: 12px !important;
  color: #7c7c7c;
}
.descrp{
  width: 100%;
  letter-spacing: 0;
  align-items: center;
  min-width: 50%;
}

.tophr{
  position: absolute;
  top: 20px;
  color: #fff;
  border: 2px solid #fff;
  width: 90%;
  margin-left: 5%;
  opacity: 1;
}
.bottomhr{
  position: absolute;
  bottom: 20px;
  color: #fff;
  border: 2px solid #fff;
  width: 90%;
  margin-left: 5%;
  opacity: 1;
}
.bars{
  position: absolute; right: 20px; letter-spacing: -6px;font-size: 50px;
}
.tophr, .bottomhr, .bars, .level2hr{
  display: none;
}



/* basic */


.dataTable {
  /* background-color: #fff; */
  /* border: 2px solid; */
  border-radius: 10px;
  text-transform: uppercase;
  margin: 15px 9%;
  font-family: TP, sans-serif;
  letter-spacing: 2px;
}
.dataTable .tableBox {
  margin: 2%;
  overflow: hidden !important;
  display: flex;
}
.level2hr{
  position: absolute; bottom: 35px; letter-spacing: -2px; font-weight: 600;
}
.flexcontainer{
  display: inline-flex;
}

@media screen and (max-width: 1450px) {
  .dataTable .tableBox {
    margin: 15px;
    padding-top: 0;
    padding: 15px;
  }
}
@media screen and (min-width: 1451px) {
  .tableBox{ padding: 3% 5%;}
}

@media screen and (max-width: 600px) {
  .level2hr, .tophr, .bottomhr, .bars{display: none;}
  .dataTable {
    margin: 30px 0px 20px 2px;
  }
  .pagecont{
    height: auto;
  }
  .pagetitle, .subpagetitle, .normalheader, .level2{
    font-size: 20px !important;
    padding: 25px 5px;
  }
  .level2content{padding: 4px !important; }
  .descrip{font-size: 14px !important; letter-spacing: none;}
  .auth{font-size: 8px;}
  .othercontent{padding: 5px; }
  .flexcontainer{display: contents;}
}





.logo{
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  bottom: 50px;
}