.video-js.vjs-fluid, .video-js.vjs-16-9, .video-js.vjs-4-3, .video-js.vjs-9-16, .video-js.vjs-1-1{
    padding: 34%; 
    /* background:  rgba(28,74,130); */
    background: #000000;
    border: 1px solid #7f7f7f;
}
.vjs-loading-spinner{
    display: none !important;
}
/* .video-js .vjs-tech {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
} */

